vsphere_vcenter = "{{vsphere_vcenter}}"
vcenter_user = "{{vcenter_user}}"
vcenter_password = "{{vcenter_password}}"
vcenter_datacenter = "{{vcenter_datacenter}}"
vsphere_server = "{{vsphere_server}}"
#vsphere_cluster = "VSAN-Cluster"
